<table class="userlist">
  <tr class="userlist-headers">
    <th class="userlist-headers-item">Name</th>
    <th class="userlist-headers-item">Color</th>
    <th class="userlist-headers-item">Friends</th>
  </tr>
  {{#each model as |user|}}
    <tr class="userlist-row">
      <td class="userlist-cell">
        {{#link-to 'user' user class="userlist-user"}}
          {{user.firstName}} {{user.lastName}}
        {{/link-to}}
      </td>
      <td class="userlist-cell userlist-color {{colors user.color}}">
        {{colors user.color}}
      </td>
      <td class="userlist-cell">
        {{#friend-list friends=user.friends}}{{/friend-list}}
      </td>
    </tr>
  {{/each}}
</table>

{{infinity-loader infinityModel=model loadingText="tasting the rainbow..." loadedText="rainbow tasted"}}



{{outlet}}
